VITE_API_BASE_URL=https://rightspeak-api.vercel.app
VITE_APPID_CLIENT_ID=7ec1dc26-346a-47c9-92b4-7d00c1be7275
VITE_APPID_DISCOVERY_ENDPOINT=https://au-syd.appid.cloud.ibm.com/oauth/v4/d67b38ee-be5b-4abc-92c1-219af5c34bca/.well-known/openid-configuration
